
<h4>@Model.Prenom @Model.Nom</h4>
<p>cne : <strong>@Model.Cne</strong></p>
<p>email : <strong>@Model.Email</strong></p>
<p>classe : <strong>@Model.Classe.Nom</strong></p>
<p>groupe : <strong>@Model.Groupe.Nom</strong></p>