@{
    ViewBag.Title = "Espace Des Professeurs";
    Layout = "~/Views/Shared/_LayoutProfesseur.cshtml";
}
@using GridMvc.Html
@using GestionDesAbsence.Models
@*@model IEnumerable<Etudiant>*@

@*function to check if the student is present or not*@
@helper CheckPresence(Etudiant etudiant)
{
    if (etudiant.Id % 2 == 0)
    {
        <i class='fas fa-check text-success'></i>
    }
    else
    {
        <i class='fas fa-times text-danger'></i>
    }
}

@*function to check if the student is present or not*@
@helper SendPresence(Etudiant etudiant)
{
    if (etudiant.Id % 2 == 0)
    {
        <button type='submit' class='btn btn-success' disabled>P</button>
    }
    else
    {
        <form action='Marquez' method='post'>
            <input type='hidden' name='id' value="@etudiant.Id" />
            <input type='hidden' name='presence' value="true" />
            <button type='submit' class='btn btn-success' value=''>P</button>
        </form>
    }
}
@helper SendAbsence(Etudiant etudiant)
{
    if (etudiant.Id % 2 == 0)
    {
        <form action='Marquez' method='post'>
            <input type='hidden' name='id' value="@etudiant.Id" />
            <input type='hidden' name='presence' value="false" />
            <button type='submit' class='btn btn-danger' value=''>A</button>
        </form>

    }
    else
    {
        <button type='submit' class='btn btn-danger' disabled>A</button>
    }
}

<div class="row justify-content-center py-2 ">
    <div class="col-md-8 btn btn-outline-success">
        Semaine 8 - Lundi - 12/04/2021 - [ 08:00 - 10:00]
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-10">
        @*@Html.Grid(Model).Columns(columns =>
        {
            columns.Add(c => c.Id).Titled("ID").Filterable(true);
            columns.Add(c => c.Nom).Titled("Nom").Filterable(true);
            columns.Add(c => c.Prenom).Titled("Prénom").Filterable(true);
            columns.Add().Titled("Présent(e)")
            .Filterable(true)
            .Encoded(false)
            .Sanitized(false)
            .RenderValueAs(c => CheckPresence(c));
            columns.Add()
            .Encoded(false)
            .Sanitized(false)
            .RenderValueAs(c => SendPresence(c));
            columns.Add()
            .Encoded(false)
            .Sanitized(false)
            .RenderValueAs(c => SendAbsence(c));
        }).WithPaging(6).Selectable(true)*@
        @ViewBag.Id_seance
        @ViewBag.IdSe
        @ViewBag.Id_module

    </div>
</div>